<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>Coursework</title>
    
</head>
<body style="background-color: #FFFFFF; font-family: 'Fredericka the Great', serif;" >
    <div id="app"  >
        <div class="d-flex justify-content-between align-items-center p-3" >
            <h1 style="font-size: 48px;">Learn Hub App</h1>
            <input class="form-control form-control-lg rounded-pill w-25" style="border: 2px solid black;" type="text" v-model="searchQuery" placeholder="Search lessons" @input="searchLessons" :disabled="!showLesson"/>
            <button class="btn btn-light d-flex align-items-center shadow-sm"  style="padding: 0.5rem 1rem; transition: all 0.3s ease;" v-on:click="showCheckout" :disabled="isShoppingCartDisabled">
                <span class="fa fa-shopping-cart me-2" style="font-size: 1.5rem;"></span>
                <div class="text-center">
                    <span class="badge bg-dark text-white d-block me-2" style="font-size: 0.6rem;">{{ itemInCart }}</span>
                    <span>Cart</span>
                </div>
            </button> 
        </div>
        
        <div class="d-flex" v-if="showLesson">
            <div >
                <i class="fa fa-sort "style="font-size: 30px;" aria-hidden="true"@click="toggleSidebar" ></i>
                <div v-if="!searchQuery" v-show="showSidebar" style= "transition: 0.5s ease;">
                    <h1>SORT By</h1>
                    <ul style="list-style: none;">
                        <li>
                            <input type="checkbox" id="subject" v-model="selectedSort" value="subject" @change="handleSort('subject')"/>Subject
                            <div v-if="selectedSort.includes('subject')">
                                <label><input type="radio" v-model="order" value="ascending"> Ascending</label>
                                <label><input type="radio" v-model="order" value="descending"> Descending</label>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="location" v-model="selectedSort" value="location" @change="handleSort('location')"/>Location
                            <div v-if="selectedSort.includes('location')">
                                <label><input type="radio" v-model="order" value="ascending"> Ascending</label>
                                <label><input type="radio" v-model="order" value="descending"> Descending</label>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="price" v-model="selectedSort" value="price" @change="handleSort('price')"/>Price
                            <div v-if="selectedSort.includes('price')">
                                <label><input type="radio" v-model="order" value="ascending"> Ascending</label>
                                <label><input type="radio" v-model="order" value="descending"> Descending</label>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="space" v-model="selectedSort" value="space" @change="handleSort('space')"/>Space
                            <div v-if="selectedSort.includes('space')">
                                <label><input type="radio" v-model="order" value="ascending"> Ascending</label>
                                <label><input type="radio" v-model="order" value="descending"> Descending</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="container my-4">
                <div v-if="!searchQuery" class="row   row-cols-md-4">
                    <div class="col" v-for="lesson in sortedLessons">
                        <div class="lesson" 
                    style="background-color: #353839; color: #FFFFFF; border-radius: 10px; padding: 20px; margin: 10px;">
                            <figure>
                                <img style="border-radius: 12px; border: 2px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" v-bind:src="lesson.image" width="200" height="200" alt="Lesson Image">
                            </figure>
                            <h2 v-text="lesson.subject"></h2>
                            <p>Location: {{lesson.location}}</p>
                            <p>Price: <b>￡</b>{{lesson.price}} </p>
                            <p>Spaces: {{lesson.space}}</p>
                            <button v-on:click="addToCart(lesson)" :disabled="lesson.space === 0"  class="btn btn-danger">Add to Cart</button>
                        </div>
                    </div>
                </div>

                <div v-if="searchQuery" class="row   row-cols-md-4">
                    <div class="col" v-for="lesson in searchResults" >
                        <div class="lesson" 
                    style="background-color: #353839; color: #FFFFFF; border-radius: 10px; padding: 20px; margin: 10px;">
                            <figure>
                                <img style="border-radius: 12px; border: 2px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" v-bind:src="lesson.image" width="200" height="200" alt="Lesson Image">
                            </figure>
                            <h2 v-text="lesson.subject"></h2>
                            <p>Location: {{lesson.location}}</p>
                            <p>Price: <b>￡</b>{{lesson.price}} </p>
                            <p>Spaces: {{lesson.space}}</p>
                            <button v-on:click="addToCart(lesson)" :disabled="lesson.space === 0"  class="btn btn-danger">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-start p-4"  v-else>
            <div class="col-8 p-4 rounded" style="background-color: #f5f5f5;">
                <h1>Shopping Cart</h1>
                <div v-if="cartLessons.length > 0" class="container mt-3">
                    <div class="row g-1">
                        <div class="col-12" v-for="lesson in cartLessons">
                            <div class="d-flex align-items-center" 
                        style="background-color: #353839; color: #FFFFFF; border-radius: 10px; padding: 10px;">
                                <figure class="me-3">
                                    <img style="border-radius: 12px; border: 2px solid #ccc; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);" v-bind:src="lesson.image" width="100" height="100" alt="Lesson Image">
                                </figure>
                                <div class="w-50">
                                    <h2 v-text="lesson.subject" class="mb-2"></h2>
                                    <div class="d-flex justify-content-between mb-2">
                                        <p>Location: {{lesson.location}}</p>
                                        <p>Price: <b>￡</b>{{lesson.price}}</p>
                                        <p>Quantity: {{cartQuantity(lesson.id)}}</p>
                                    </div>
                                    <button v-on:click="removeFromCart(lesson)" class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <p>Shopping Cart is Empty</p>
                </div>
            </div>

            <div class="col-3 p-4 rounded" style="background-color: #f5f5f5;" v-if="cartLessons.length > 0">
                <h1>Checkout</h1>
                <div class="d-flex flex-column w-75"  >
                    <input class="mb-2"  placeholder="Name" v-model="name" @input="validateName"/>
                    <input class="mb-2" placeholder="Phone" v-model="phone" @input="validatePhone"/>
                </div>
                <div v-if="nameError" style="color:red;">Name must contain only letters!</div>
                <div v-if="phoneError" style="color:red;">Phone must contain only numbers!</div>
                <button class="btn btn-primary mt-3" v-bind:disabled="!isFormValid" v-on:click="confirmOrder" >Checkout</button>
            </div>

            <div v-if="modalShow" class="modal fade show" tabindex="-1" role="dialog" style="display: block;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div>
                        <button type="button" @click="dismiss" class="btn-close float-end fs-3" aria-label="Close"></button>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
                        <span class="fa-regular fa-circle-check fa-3x text-success" aria-hidden="true"></span>
                        <p>Order has been Submitted</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>    
    </div>

    <script src="app.js"></script>     
</body>
</html>